body {
    background-color: #181627;
    color: white;
    font-family: "Century Gothic", "Nanum Gothic", sans-serif;
    font-size: 1em;
}

img {
    max-width: 35%;
}

/*********** HELPER CLASSES ***********/
#home .full-vh {
    min-height: 100vh;
}

.full-vh {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title-name {
    color: rgb(31, 216, 216);
    font-size: 4rem;
}

.section-title {
    color: rgb(31, 216, 216);
    text-align: center;
    margin: 0.625rem 0 3.125rem;
}

/*********** CONTAINERS ***********/
.container-fluid {
    padding: 3% 17% 5%;
}

/*************** NAVIGATION ***************/
.myNav {
    background-color: rgb(16, 204, 204);
    font-weight: bold;
}

.navbar-brand {
    margin-left: 0.625rem;
    color: white;
}

.navbar-brand:hover {
    color: #181627;
}

.nav-link {
    color: white;
    text-align: right;
}

.nav-link:hover {
    color: #181627;
}

/*************** CLASSES ***************/

/*************** CLASSES: about me ***************/

/*************** CLASSES: experience ***************/

/*************** CLASSES: projects ***************/
.project-showcase {
    text-align: center;
    padding: 0 0 10rem 0;
}

/*************** CLASSES: Projects Cards ***************/
.card {
    text-align: center;
}

.proj-body {
    color: #181627;
    font-weight: bold;
}

.proj-header {
    background: rgb(16, 204, 204);
}

.proj-title {
    color: white;
    font-weight: bold;
}

.proj-col {
    padding: 3% 2%;
}

.dl-btn {
    font-weight: bold;
    color: rgb(31, 216, 216);
    border: 1px solid #181627;
}

.dl-btn:hover {
    background: rgb(16, 204, 204);
}

/*************** CLASSES: contact ***************/
input::placeholder,
textarea::placeholder {
    color: white;
}

input {
    border-style: none;
    border-bottom-style: solid;
    border-width: 0.0625rem;
    background: transparent;
}

textarea {
    background: transparent;
    border-style: none;
    border-bottom-style: solid;
    border-width: 0.0625rem;
    margin: 0.3125rem;
    resize: none;
}

.contact-form-textarea {
    margin: 0.625rem 0 1.25rem;
}

.contact {
    text-align: center;
}

.send-message {
    background-color: white;
    border-radius: 1.4375rem;
    color: #181627;
    font-weight: bold;
    padding: 0.3125rem 0.625rem;
}

.send-message:hover {
    color: rgb(31, 216, 216);
    text-decoration: none;
}

/*************** FOOTER ***************/
.footer {
    text-align: center;
    height: 9.375rem;
    background: rgb(16, 204, 204);
    padding: 1.875rem 0 0;
}

.social-links {
    color: white;
    text-decoration: none;
    padding: 0 1rem;
    font-weight: bold;
    font-size: 0.875rem;
}

.social-links:hover {
    text-decoration: none;
    color: #181627;
}

.copyright {
    margin: 0;
    padding: 3.125rem 0 0 0;
    font-size: 0.625rem;
}

/*************** Media Queries ***************/
@media (max-width: 1028px) {
    .container-fluid {
        padding: 3% 7% 5%;
    }
}

/*************** Bootstrap ***************/
