/*************** TAGS ***************/
body {
    background-color: #181627;
    color: white;
    font-family: "Century Gothic";
}

nav {
    background-color: white;
    font-weight: bold;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.nav-link {
    color: #181627;
    text-align: center;
}

.nav-link:hover {
    color: rgb(31, 216, 216);
}
/*
ul {
    list-style: none;
    margin: 0;
}

.myNav {
    background-color: white;
    color: #181627;
    font-weight: bold;
    padding: 5px 10px;
}

.myNav:hover {
    color: rgb(31, 216, 216); 
}

nav {
    margin: 10px 100px;
    background-color: white;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
}
*/

input::placeholder,
textarea::placeholder {
    color: white;
}

input {
    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    background: transparent;
}

textarea {
    background: transparent;
    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    margin: 5px;
    resize: none;
}

img {
    max-width: 35%;
    height: auto;
}

/*************** CLASSES ***************/
.section-title-name {
    color: rgb(31, 216, 216);
}

.section-title {
    color: rgb(31, 216, 216);
    text-align: center;
}

/*************** CLASSES: intro ***************/
/*
.intro {
    padding: 10rem;
}
*/

.jumbotron {
    background-color: #181627;
}

/*************** CLASSES: about me ***************/

.about-me {
    display: flex;
    padding: 5rem 5rem 10rem 5rem;
}

.about-me-txt {
    padding-right: 15px;
}

/*************** CLASSES: experience ***************/
.experience {
    padding: 5rem;
}

/*************** CLASSES: projects ***************/
.project-showcase {
    display: flex;
    justify-content: center;
    padding: 5rem 5rem 10rem 5rem;
}

.project-cards {
    height: 300px;
    width: 210px;
    margin: 0 50px;
    border: solid 2px;
    border-radius: 10px;
    text-align: center;
}

/*************** CLASSES: contact ***************/
.contact-form-textarea {
    margin-bottom: 10px;
}

.contact {
    text-align: center;
    padding-bottom: 50px;
}

.send-message {
    background-color: white;
    border-radius: 23px;
    color: #181627;
    font-weight: bold;
    padding: 5px 10px;
}

.send-message:hover {
    color: rgb(31, 216, 216);
}
